---
import Layout from "../layouts/Layout.astro";
import "../css/global.css";
import Card from "../components/Card.astro";

const url = `${import.meta.env.PUBLIC_SUPABASE_URL}/rest/v1/artists?select=*`;
const apiKey = import.meta.env.PUBLIC_SUPABASE_PUBLISHABLE_KEY;

const options = {
  headers: {
    apikey: apiKey,
  },
};

type Artists = {
  id: number;
  name: string;
  description: string;
  image_url: string;
};

const data: Artists[] = await fetch(url, options).then((res) => res.json());
---

<Layout titel="Høsten">
    <div class="overskrift">
     <h1>ARTISTER</h1>
     </div>
    <div class="grid-1-3">
  {data.map((artists) => <Card artists={artists} />)}
  </div>
</Layout>

<style>



    .overskrift{
        padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    font-size: 110px;
    }
      .grid-1-3 {
        display: grid;
        margin: 0 auto;
        max-width: 750px;
        grid-template-columns: repeat(3, 1fr);
      }
</style>