---
import Layout from "../layouts/Layout.astro";
import "../css/global.css";
---

<Layout titel="Artist">
  <div class="container">
    <h1 id="name">Loading...</h1>
    <img id="image" />
    </div>
    <div class="grid-container">
    <p id="description"></p>
    <img id="cover" />
    </div>
  <div>
Socials:
  </div>
<script>
  const params = new URLSearchParams(window.location.search);
  const id = params.get("id");

  const url = `${import.meta.env.PUBLIC_SUPABASE_URL}/rest/v1/artists?id=eq.${id}&select=*`;

  fetch(url, {
    headers: {
      apikey: import.meta.env.PUBLIC_SUPABASE_PUBLISHABLE_KEY,
    },
  })
    .then(res => res.json())
    .then(([artists]) => {
      document.querySelector("#name").textContent = artists.name;
      document.querySelector("#image").src = artists.hero_url;
      document.querySelector("#description").textContent = artists.description;
      document.querySelector("#cover").src = artists.cover_img;
    });
    console.log("ID fra URL:", id);
    
</script>
</Layout>

<style>

  .container {
    position: relative;
  }
  .grid-container{
    display: flex;
  }
  #name {
    font-size: 110px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>