---
import Layout from "../layouts/Layout.astro";
import "../css/global.css";
---

<Layout titel="Artist">
  <div class="container">
    <h1 id="name">Loading...</h1>
    <img id="image" />
    </div>
    <div class="grid-container">
    <p id="description"></p>
    <img id="cover" />
  </div>
    <img class="play" src="/public/ikonerOgLogo/playLine.webp" alt="playLine">
 </div>

<div class="social-container">
    <h2>SOCIALS</h2>
    <div class="grid-1-3">
        <img class="footerikon" src="public/ikonerOgLogo/instraIkon.webp" alt="instraIkon.webp" />
        <img class="footerikon" src="public/ikonerOgLogo/snapchatIkon.webp" alt="snapchatIkon.webp" />
        <img class="footerikon" src="public/ikonerOgLogo/tikTokIkon.webp" alt="tikTokIkon.webp" />
    </div>
</div>

 
<script>
  const params = new URLSearchParams(window.location.search);
  const id = params.get("id");

  const url = `${import.meta.env.PUBLIC_SUPABASE_URL}/rest/v1/artists?id=eq.${id}&select=*`;

  fetch(url, {
    headers: {
      apikey: import.meta.env.PUBLIC_SUPABASE_PUBLISHABLE_KEY,
    },
  })
    .then(res => res.json())
    .then(([artists]) => {
      document.querySelector("#name").textContent = artists.name;
      document.querySelector("#image").src = artists.hero_url;
      document.querySelector("#description").textContent = artists.description;
      document.querySelector("#cover").src = artists.cover_img;
    });
    console.log("ID fra URL:", id);
    
</script>
</Layout>

<style>

  .container {
    position: relative;
  }
  .grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 100px;
    max-width: 750px;
    margin: 0 auto;
  }
  #name {
    font-size: 110px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #description{
    line-height: 35px;
    padding-left: 10px;
  }

  .cover{
    padding-top: ;
  }

  .play{
    width: 750px;
    margin: 0 auto;
    padding-top: 40px;
  }

  .footerikon{
    max-width: 30px;
    margin-bottom: 25px;
  gap: 20px;
  }

  .grid-1-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100px;
    margin: 0 auto;
    justify-content: center;
    padding-top: 10px;
  }

  .social-container{
    display: block;
    margin: auto;
    padding-top: 40px;
  }
  .social-container h2 {
    text-align: center;
  }

</style>