---
import "../css/global.css";
import Button from "../components/Cta.astro";
import Navbar from "../components/Navigationbar.astro";
---

<header>
  <Navbar />
</header>
<body>
  <!-- <Button text="Frivillig" href="/Frivillig" /> -->
</body>
