/**coiny h1
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Coiny&display=swap" rel="stylesheet">
**/

/** news cycle p/h2/h3
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
**/

/**img reset**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  width: 100%;
}

h1 {
  font-family: "Coiny", system-ui;
  color: var(--primary-color);
}

h2 {
  font-family: "Archivo Narrow", sans-serif;
  color: var(--primary-color);
}

h3 {
  font-family: "Archivo Narrow", sans-serif;
  color: var(--primary-color);
}

p {
  font-family: "Archivo Narrow", sans-serif;
  color: var(--primary-color);
}

:root {
  --primary-color: #e60000;
  --primary-bg-color: #ffebd4;
}

body {
  background-color: var(--primary-bg-color);
}
