---
import Navigationbar from "../components/Navigationbar.astro";
import Footer from "../components/Footer.astro";

const { titel } = Astro.props;
---
<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" sizes="32x32" href="/public/ikonerOgLogo/logo.webp" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Coiny&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">


    <title>{titel}</title>
  </head>

  <body>
    <Navigationbar></Navigationbar>
    <slot />
    <Footer></Footer>
  </body>
</html>
